@page

@model PosterMaker.UI.Pages.Category.CreateModel

@using PosterMaker.UI.Models

@{
    ViewData["Title"] = "Create new category";
}


<div class="container">
    <div class="row ">
        <div class="col-md-6 offset-md-3">
    <form method="post">
                <legend>Create A New Category</legend>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="categoryVm.Name"></label>
                <input asp-for="categoryVm.Name" class="form-control" />
                <span class="alert-danger" asp-validation-for="categoryVm.Name"></span>
            </div>
        </div>
  
        <br />
        <input type="submit" value="Save Category" class="btn btn-primary" />
                <a class="btn btn-default" href="/Category/Index">Cancel</a>
    </form>
        </div>
    </div>
</div>