@page "{id:int}"

@model PosterMaker.UI.Pages.App.AppCategoryListModel

@using PosterMaker.UI.DTOs

@{
    ViewData["Title"] = "App's Categories";
}


<h2>
    List of Categories Page @Model?.CategoryList[0]?.App?.Name

</h2>

<div class="container">
    <div class="row">
        @foreach (var item in Model.CategoryList)
        {
            <div class="col-md-3 m-3">
                <div class="card" style="width: 12rem;height:8rem;">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        @if (item.Content != null)
                            {
                                <img src="data:image;base64,@System.Convert.ToBase64String(item.Content)" alt='' class='img-fluid'>
                            }


                        <span class="card-title">@item.CreatedAt</span>
                    </div>
                </div>
            </div>
        }
    </div>   
</div>

@section Scripts{
    <script>
        $(function () {
            $('#btn-test').on('click', function () {
                alert();
            });
        });
    </script>
}